h1{
    color:red;














}
#para1{
 font-weight: bolder;










}
 #para3{









    font-variant: small-caps;
    color:brown;
    font-size: large;
    font-style: oblique;
    border-radius: 10px;
    background-image:url(desktop:/new folder/file.jpg);
    color:blueviolet;
    
 }
 #para4{
     font-size: italic;
     color:blue;
     font-weight: 1500;
     font-weight: bold;











 }
















































